.banner__section {
  padding: 140px 0;
  /* background-image: url("../../public/static/hero-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.banner__container {
  margin-bottom: 6rem;
  position: relative;
  z-index: 2;
}

.hero__image {
  position: absolute;
  top: 0px;
  right: 0px;
}

.title {
  letter-spacing: -0.025em;
  font-weight: 800;
  color: var(--text-black);

  font-size: 3rem /* 48px */;
  line-height: 1;
}

.white {
  color: rgba(249, 250, 251, 1);
}

.purple {
  display: block;
  color: var(--text-purple);
}

.sub__title {
  margin-top: 0.74rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var();
}

.btn__wrapper {
  margin-top: 1.25rem;
}

.btn {
  background-color: var(--text-purple-dark);
  cursor: pointer;
  color: white;
  outline: 0;
  border: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.btn:hover {
  background-color: var(--text-purple-dark);
}

/* sm Breakpoint */
@media (min-width: 640px) {
  .title {
    font-size: 3rem;
    line-height: 1;
  }

  .sub__title {
    margin-top: 1.25rem;
    max-width: 36rem;
  }

  .btn__wrapper {
    display: flex;
    margin-top: 2rem;
  }
}

/* md Breakpoint */
@media (min-width: 768px) {
  .title {
    font-size: 3.75rem;
    line-height: 1;
  }

  .sub__title {
    margin-top: 1.25rem;
  }

  .btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* lg Breakpoint */
@media (min-width: 1024px) {
  .banner__container {
    text-align: left;
  }

  .title {
    font-size: 4.5rem /* 72px */;
    line-height: 1;
  }

  .purple {
    padding-left: 0.5rem;
  }

  .sub__title {
    margin-left: 0px;
    margin-right: 0px;
  }

  .btn__wrapper {
    justify-content: flex-start;
  }
}

/* xl breakpoint */
@media (min-width: 1280px) {
  .purple {
    display: inline-block;
  }
}
